body{
  font:15px/1.5 Helvetica;
  padding:0;
  margin:0;
  background-color: #333333;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin: 0;
  padding: 0;
}
/* About */

#email_tag {
  color:#ffffff;
  text-align: center;
  padding: 10px;
}

#email_id {
  border-bottom: #000000 3px solid;
}

/* Main Games Section*/

#main h1{
  font-size: 30px;
  color:#ffffff;
  text-align:center ;
}
#main li{
  color:#ffffff;
  text-decoration: none;
  text-align: center;
}

#main a{
  color:#ffffff;
  text-decoration: none;
  text-transform:capitalize;
  font-size: 16px;
}
#main{
  padding-bottom: 500px;
}

/* Header */
header{
  background:#222222;
  color:#ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #000000 3px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

header li{
  float:left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}
header nav{
  float:right;
  margin-top:10px;
}

header .underlined, header .current a{
  text-decoration: underline;
}

header a:hover{
  color:#333333;
  font-size: 18px;
}

/* Showcase */
#showcase{
  color:#ffffff;
  min-height: 200px;
  background:url('./img/showcase.png') no-repeat 0 -290px;
  text-align: center;
  border-bottom: #000000 3px solid;
}

#showcase p{
  padding-top: 20px;
}
#showcase h1{
  padding-top:25px;
}

/* Newsletter */

#newsletter2{
  border-top: #000000 3px solid;
  padding:15px;
  color:#ffffff;
  background:#444444;
  border-bottom: #000000 3px solid;
}
#newsletter2 form{
  padding-right: 20px;
  float:right;
  padding-top: 20px;
}
#newsletter2 h1{
  float:left;
}
#newsletter2 button{
  border:none;
  background-color: #f44336;
  font-size: 16px;
  padding-bottom:3px;
  padding-left: 9px;
  padding-right: 9px;
}
#newsletter2 input[type="email"]{
  padding: 4px;
  height:25px;
  width: 250px;
}
#newsletter2 .button_1{
  height: 38px;
}
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#222222;
  border-bottom: #000000 3px solid;
}
#newsletter form{
  padding-right: 20px;
  float:right;
  padding-top: 20px;
}
#newsletter h1{
  float:left;
}
#newsletter button{
  border:none;
  background-color: #f44336;
  font-size: 16px;
  padding-bottom:3px;
  padding-left: 9px;
  padding-right: 9px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height:25px;
  width: 250px;
}
#newsletter .button_1{
  height: 38px;
}

/* Boxes */
#boxes .box li{
  color:#ffffff;
  text-decoration: none;
  text-transform:capitalize;
  font-size: 16px;
  display: grid;
}
#boxes .box a{
  color:#ffffff;
  text-decoration: none;
  text-transform:capitalize;
  font-size: 16px;
  display: grid;
}
#boxes{
  color: #ffffff;
  margin-top: 10px;
  border-bottom: #000000 3px solid;
}
#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding: 10px;
}

#boxes .box img{
  width: 150px;
}

footer{
  padding: 30px;
  margin-top: 0px;
  color: #ffffff;
  background: #222222;
  text-align: center;
  font-weight: bold;
}

#page-title

/* Media Queries */
@media (max-width:768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #newsletter2 h1,
  #newsletter2 form,
  #boxes .box{
    float:none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }

  #newsletter button{
    display: block;
    width: 100%
  }

  #newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
  }
}
